.background {
    -fx-background-color: #99CCFF;
    -fx-padding: 48px;
}

.emailField, passwordField{
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-font-size: 16px;
}

.heading {
  -fx-font-size: 30px;
  -fx-font-family: "Tahoma";
  -fx-font-weight: bold;
  -fx-fill: #66CCFF;
  -fx-stroke: #3333CC;
}

.label {
  -fx-font-size: 16px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
}

.login-title {
    -fx-fill: pink;
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.text-list {
    -fx-fill: blue;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #0066FF;
    -fx-text-fill: white; /* White text color */
}

.button:hover {
    -fx-background-color: #0000FF;
}